.mentor-applications-container {
  padding: 50px;

  h1 {
    text-align: center;
  }
}

.no-applications-list {
  width: 80%;
  height: fit-content;
  border: 1px solid #274a79;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.application-item {
  width: auto;
  height: fit-content;
  padding: 20px;
  display: flex;

  .status {
    padding: 3px 10px;
  }
}

.applications-list-mentor {
  width: 80%;
  height: fit-content;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: #6adbd7;
  gap: 20px;
  border-radius: 20px;

  .application-item {
    background-color: #fff;
    border-radius: 10px;
  }
}

.btn-view-detail-application {
  margin-top: 5px;
  background-color: #274a79;
  color: #fff;
  font-weight: 500;
  padding: 0 20px;
}
