.mentor-home-container {
  width: 100%;
  height: 100%;
  padding: 20px 200px;
  background-color: #f7fcff;
}

.user-home {
  width: 270px;
  height: 350px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p {
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.img-infor-home {
  width: 180px;
  height: 180px;
  border-radius: 100px;
}

.propose {
  margin-top: 50px;
}

.welcome-home {
  display: flex;
  flex-direction: row;
  align-items: center;

  h2 {
    margin-left: 50px;
    font-weight: 700;
  }

  .profile-setting {
    margin: 0 10px;
    text-decoration: none;
    padding: 5px 20px;
    color: #274a79;
    background-color: #6adbd7;
    border-radius: 5px;
    font-weight: 500;

    &:hover {
      background-color: #32afad;
      color: #fff;
    }
  }
}

.welcome-home {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-home {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.mentor-propose-list {
  margin-top: 20px;
}

.propose {
  font-weight: bold;
  margin-bottom: 20px;
}

.mentors-propose {
  width: 80%;
  border: 1px solid #ccc;
  margin: 5px auto;
}

.mentor-card {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 140px; /* Chiều cao cố định của khối */
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5 px;
}

.mentor-info {
  flex: 1;
  padding-right: 20px;
}

.mentor-image img {
  width: 100px; /* Chiều rộng của hình ảnh */
  height: auto;
  border-radius: 50%;
}

.mentor-image {
  margin-right: 10px;
}

.mentor-group {
  display: flex;
}
