.staff-manage-container {
  width: 100%;
  height: fit-content;
  background-color: #fafafa;
  padding: 100px;
}

.staff-management-filter {
  width: 80%;
  height: fit-content;
  background-color: #274a79;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.CV-list-container {
  width: 80%;
  height: fit-content;
  background-color: #fff;
  margin: 50px auto;
  padding: 20px 0;
  h3 {
    padding: 0 50px 50px 50px;
  }
}
.btn-filter {
  padding: 10px 50px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  margin: 0 10px;
  font-weight: 700;
}

.btn-filter.active {
  background-color: #6adbd7;
}

.btn-filter-container {
  height: fit-content;
}

.custom-header {
  background-color: #274a79;
}

.data-table-row:hover {
  background-color: #f0f0f0; /* Change this to your desired hover color */
  cursor: pointer;
}

.wrap-cell {
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 5px;
  &.pending {
    background-color: rgb(215, 215, 18);
    border: 1px solid #274a79;
  }
  &.accepted {
    background-color: rgb(14, 170, 48);
    border: 1px solid #274a79;
  }
  &.denied {
    background-color: rgb(255, 35, 1);
    border: 1px solid #274a79;
  }
}
