.mentor-skill-container {
  flex: 1;
}

.skill-title {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 10px; /* Added margin for better spacing */
}

.skill-list {
  display: flex;
  flex-wrap: wrap; /* Enable flex wrapping */
}

.skill-item {
  margin: 5px; /* Added margin for spacing between items */
  padding: 5px 20px;
  background-color: #6adbd7;
  border-radius: 30px;
  color: #274a79;
  font-weight: 600;
}
