.mentor-messenger-container {
  width: 100%;
  height: 100vh;
  background-color: #f7fcff;
}

.chat-box {
  width: 100%;
  height: 100%;
  border: 1px solid #274a79;
  overflow: hidden;
  display: flex;
}

.chat-bar {
  width: 30%;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #274a79;
  display: flex;
  flex-direction: column;
}

.mess-title {
  padding: 20px;
  margin: 0;
  text-align: center;
}

.mentor-mess {
  width: 72%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .mentor-name-mess {
    width: 100%;
    height: 65px;
    background-color: #274a79;
    padding: 0 20px;
    display: flex;
    align-items: center;
    color: #fff;
    h4 {
      margin-bottom: 0;
      margin-left: 5px;
    }
  }
}

.chat-list {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ccc;
}

.input-search-chat {
  width: 80% !important;
}

.chat-item {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.chat-photo {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.partnerName-time {
  display: flex;
  justify-content: space-between;
}

.partner-infor {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.mess-content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  overflow-y: scroll;
  height: 100%;
}

.message {
  margin: 10px 0;
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.my-mess {
  align-self: flex-end;
  background-color: #d1f7d6;
}

.partner-mess {
  align-self: flex-start;
  background-color: #f1f1f1;
}

.message-input {
  height: fit-content;
  position: static;
  bottom: 0;
  background-color: white;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  width: 100%;
}

.input-mess {
  width: 96% !important;
}

#button-addon2 {
  background-color: #274a79;
  color: #fff;
}

.input-mess-container {
  margin: 0 !important;
}

.mess-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #cee6f2;
}

.message {
  margin: 10px 0;
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-mess {
  align-self: flex-end;
  background-color: #5e95cc;
  color: #f9fdff;
}

.partner-mess {
  align-self: flex-start;
}

.img-chat-box {
  width: 40px;
  border-radius: 20px;
  margin-right: 5px;
}

.partner-mess-item {
  margin-left: 48px;
}

.chat-item.active {
  background-color: #f0f0f0; /* Màu nền cho chat-item active */
}

.input-group {
  flex-wrap: nowrap !important;
  margin: 0 !important;
}

@media (max-width: 768px) {
  .chat-box {
    flex-direction: column;
  }

  .chat-bar {
    width: 100%;
    height: auto;
  }

  .mentor-mess {
    width: 100%;
  }

  .input-mess-container {
    margin-bottom: 0 !important;
    display: contents;
  }

  .img-chat-box {
    width: 30px;
  }

  .input-search-chat.form-control {
    width: 100% !important;
  }

  .chat-list {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    .chat-item {
      width: fit-content;
      display: flex;
      flex-direction: column;
      border: 0.5px dashed #ccc;
      border-radius: 10px;
      padding: 2px;
      height: fit-content;
      align-items: center;
    }

    .chat-photo {
      width: 40px;
      height: 40px;
    }

    .mess-latest {
      display: none;
    }

    .partner-name {
      font-size: 10px !important;
      margin-bottom: 0px !important;
    }
  }

  .mess-title {
    padding: 5px;
    margin-bottom: 0px !important;
  }
}

@media (max-width: 480px) {
  .mb-3.input-group.input-mess-container {
    margin-bottom: 0rem !important;
    display: contents;
  }
}

@media (max-width: 768px) {
  .mb-3.input-group.input-mess-container {
    margin-bottom: 0rem !important;
    display: contents;
  }
}
