.mentee-home-container {
  width: 100%;
  height: 100vh;
  padding: 20px 200px;
  background-color: #f7fcff;
}

.user-home {
  width: 270px;
  height: 350px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-infor-home {
  width: 180px;
  height: 180px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.propose {
  margin-top: 50px;
}

.welcome-home {
  display: flex;
  flex-direction: row;
  align-items: center;

  h2 {
    margin-left: 50px;
  }
}

.welcome-home {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-home {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.mentor-propose-list {
  margin-top: 20px;
}

.propose {
  font-weight: bold;
  margin-bottom: 20px;
}

.mentors-propose {
  width: 80%;
  margin: 5px auto;
  border: none !important;
}

.mentor-card-re {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 140px; /* Chiều cao cố định của khối */
  margin: 20px;
  border-radius: 5 px;
}

.mentor-info {
  flex: 1;
  padding-right: 20px;
}

.mentor-image img {
  width: 100px; /* Chiều rộng của hình ảnh */
  height: auto;
  border-radius: 50%;
}

.mentor-image {
  margin-right: 10px;
}

.mentor-group {
  display: flex;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn-view-profile-re {
  background-color: #6adbd7;
  text-decoration: none;
  padding: 5px 50px;
  color: #274a79;
  width: fit-content;
  text-align: center;
  border-radius: 6px;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}
