.home_container {
  background-color: #274a79;
  height: 100%;
}

.home_banner {
  margin: 50px auto;
  width: 80%;
  display: flex;
  border-radius: 5px;
  padding: 10px;
}

.banner-intro {
  width: 50%;
  height: 100%;
  color: #fff;
  font-family: "Cabin", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    margin: 0;
    font-size: 60px;
    text-align: center;
  }

  mat-icon {
    vertical-align: middle;
  }

  p {
    display: flex;
    margin: 0;
  }
  mat-icon {
    width: 100px;
  }
}

.banner-img {
  width: 50%;
  height: 100%;
  padding-top: 30px;
}

.signin-btn,
.login-btn {
  background-color: #8dc9c0;
  color: #fff;
  height: 30px;
  margin: 0 5px;
  border-radius: 16px;
  width: 85px;
  border: none;
  text-decoration: none;
  padding: 5px 20px;

  &:hover {
    cursor: pointer;
    background-color: #97d9cf;
    color: #000;
  }
}

.FontAwesomeIcon {
  margin-right: 5px;
}

.logo-img {
  width: 400px;
  height: 400px;
}

.banner-img-main {
  width: 100%;
}
