.sign-up_container {
  background-color: #274a79;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
    color: #fff;
    text-shadow: 10px 10px 10px #000;
    margin-top: 20px;
  }
}

.signin-btn {
  background-color: #8dc9c0;
  color: #fff;
  height: 30px;
  margin: 0 5px;
  border-radius: 16px;
  width: 85px;
  border: none;

  &:hover {
    cursor: pointer;
    background-color: #97d9cf;
    color: #000;
  }
}

.signup-button {
  width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  border: 5px solid #6adbd7;
  border-radius: 20px;

  @media (min-width: 768px) {
    width: 80%;
    padding: 50px;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 150px;
  }

  h1 {
    margin-bottom: 20px;
  }

  .signup-mentee,
  .signup-mentor {
    padding: 20px 30px;
    background-color: #6adbd7;
    border: none;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 60px;
    font-weight: 700;

    @media (min-width: 768px) {
      padding: 30px 32px;
      margin: 4px 2px;
    }

    &:hover {
      transform: translateY(-10px);
      box-shadow: 10px 8px 16px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      color: #274a79;
    }

    span {
      margin-left: 5px;
    }
  }

  .signup-guide {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }
}
