.apply-title {
  text-align: center;
  margin-top: 50px;
  font-size: 1.5em; // Kích thước chữ lớn hơn cho màn hình lớn hơn
}

.apply-question-container {
  height: auto; // Cập nhật chiều cao để phù hợp với nội dung
  padding: 0 10px; // Thêm padding cho các màn hình nhỏ
}

.questions-container {
  width: 100%; // Sử dụng 100% chiều rộng của màn hình
  max-width: 800px; // Đặt một chiều rộng tối đa để nội dung không quá rộng trên màn hình lớn
  margin: 50px auto;
  background-color: #274a79;
  border-radius: 10px;
  padding: 30px 20px; // Thay đổi padding để phù hợp với các kích thước màn hình khác nhau
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field.question {
  width: 100%; // Sử dụng 100% chiều rộng của phần tử chứa
  margin-top: 10px;

  label {
    padding: 5px 10px; // Thay đổi padding để phù hợp hơn với màn hình nhỏ
    background-color: #6adbd7;
    font-weight: 600;
    display: block; // Đảm bảo label chiếm toàn bộ chiều rộng của phần tử chứa
    word-wrap: break-word; // Ngắt chữ để tránh tràn ra ngoài
  }

  textarea {
    width: 100%; // Đảm bảo textarea chiếm toàn bộ chiều rộng của phần tử chứa
    min-height: 100px; // Cung cấp chiều cao tối thiểu cho textarea
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
  }
}

.btn-submit-answer {
  background-color: #6adbd7;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;

  &:hover {
    background-color: #5ac2c9; // Thay đổi màu nền khi hover để tăng tính tương tác
    color: #274a79;
  }
}

// Media Queries

@media (max-width: 768px) {
  .apply-title {
    font-size: 1.2em; // Giảm kích thước chữ trên màn hình nhỏ hơn
  }

  .questions-container {
    padding: 30px 10px; // Giảm padding cho màn hình nhỏ
  }

  .input-field.question {
    width: 100%;
    margin-top: 10px;

    textarea {
      min-height: 80px; // Giảm chiều cao tối thiểu của textarea cho màn hình nhỏ hơn
    }
  }

  .btn-submit-answer {
    padding: 10px;
    margin-top: 15px;
  }
}

@media (max-width: 480px) {
  .apply-title {
    font-size: 1em; // Giảm kích thước chữ hơn cho màn hình rất nhỏ
  }

  .questions-container {
    padding: 20px; // Giảm padding cho màn hình nhỏ hơn
  }

  .btn-submit-answer {
    padding: 8px;
    margin-top: 10px;
  }
}
