.application-detail-container {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mentee-infor-detail {
  width: 25%;
  height: 100vh;
  border-right: 1px solid #ccc;
  text-align: -webkit-center;
  padding: 100px 10px;
  display: flex;
  flex-direction: column;

  h2 {
    margin-top: 50px;
  }

  .img-application {
    margin: 0 auto;
  }
}

.mentee-detail-application {
  width: 75%;
  padding: 30px 50px;
  background-color: #f9fdff;
}

.img-application {
  width: 200px;
  height: 200px;
  border: 1px solid #274a79;
  border-radius: 100px;
  margin-right: 50px;
}

.btn-update-apllication {
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
  margin: 5px 10px;

  &.accept {
    background-color: #299f23;
    font-weight: 600;
  }

  &.deny {
    background-color: #ff5050;
    font-weight: 600;
  }
}

.my-mentorship-plan {
  width: 100%;
  height: fit-content;
  text-align: center;
  padding: 20px 0;
  background-color: #fff !important;
  box-shadow: 5px 5px 10px #274a79;
}

.mentee-application-answer {
  box-shadow: 5px 5px 10px #274a79;

  margin-top: 30px;
  padding: 30px;
  background-color: #fff !important;
}

.status-accepted {
  padding: 5px 10px;
  background-color: #299f23;
  font-weight: 600;
  color: #fff;
}

.status-denied {
  padding: 5px 10px;
  background-color: #ff5050;
  font-weight: 600;
  color: #fff;
}

.status-paid {
  padding: 5px 10px;
  background-color: #299f23;
  font-weight: 600;
  color: #fff;
}

.question-application {
  padding: 0px 20px;
  background-color: #274a79;
  color: #fff;
}

.answer-application {
  margin-top: 8px;
  padding: 0 100px;
}

.qa-item {
  border: 1px solid #274a79;
  margin-bottom: 20px;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .application-detail-container {
    flex-direction: column;
  }

  .mentee-infor-detail {
    width: 100%;
    height: auto;
    border-right: none;
    border-bottom: 1px solid #ccc;
    padding: 50px 10px;
  }

  .mentee-detail-application {
    width: 100%;
    padding: 30px 20px;
  }

  .answer-application {
    padding: 0 50px;
  }
}

@media (max-width: 768px) {
  .application-detail-container {
    flex-direction: column;
  }

  .mentee-infor-detail {
    width: 70%;
    height: auto;
    border-right: none;
    border-bottom: 1px solid #ccc;
    padding: 30px 10px;
  }

  .mentee-detail-application {
    width: 100%;
    padding: 20px 15px;
  }

  .answer-application {
    padding: 0 30px;
  }
}

@media (max-width: 560px) {
  .application-detail-container {
    flex-direction: column;
  }

  .mentee-infor-detail {
    width: 100%;
    height: fit-content;
    border-right: none;
    border-bottom: 1px solid #ccc;
    padding: 20px 10px;
  }

  .mentee-detail-application {
    width: 100%;
    padding: 15px 10px;
  }

  .answer-application {
    padding: 0 20px;
  }

  .application-detail {
    flex-direction: column;
  }

  .img-application {
    width: 130px;
    height: 130px;
  }

  .mentee-infor-detail h2 {
    margin-top: 20px;
  }
}
