.userName-input.mb-3,
.fullName-input.mb-3,
.phone-input {
  padding-bottom: 20px !important;

  #inputGroup-sizing-default {
    background-color: #274a79;
    color: #fff;
    height: 50px;
  }
}

.header-add-staff {
  background-color: #445366;
  color: #fff;
}

.input-add-staff {
  height: 50px;
  display: block;
}

.add-staff.error-message {
  margin-bottom: 20px;
}
