.footer-container {
  position: inherit;
  bottom: 0;
  width: 100%;
  color: #000;
  height: auto; /* Changed to auto */
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #f9fdff;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.footer-logo {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.contact {
  flex: 1;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: larger;
  text-align: center;

  div {
    margin: 8px 0;
  }

  @media (min-width: 768px) {
    padding-left: 100px;
    text-align: left;
  }
}

.social-media {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  display: flex;
  gap: 20px; /* Adjust spacing between icons as needed */
  margin-top: 20px;
}

.icons a {
  color: inherit; /* Ensures the icons use the color prop passed to Footer */
  text-decoration: none;
}

.copyright-container {
  background-color: #274a79;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.copyright,
.all-rights-reserved {
  flex: 1;
  text-align: center;
}
