.footer-container {
  position: inherit;
  bottom: 0;
  width: 100%;
  color: #000;
  height: 285px;
  padding: 40px;
  display: flex;
  border-bottom: 1px solid #f9fdff;
}

.footer-logo {
  width: 200px;
  height: 200px;
}

.contact {
  flex: 1;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: larger;
  div {
    margin: 8px 0;
  }
}

.social-media {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  display: flex;
  gap: 20px; /* Adjust spacing between icons as needed */
  margin-top: 20px;
}

.icons a {
  color: inherit; /* Ensures the icons use the color prop passed to Footer */
  text-decoration: none;
}

.copyright-container {
  background-color: #274a79;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  display: flex;
}

.copyright {
  flex: 1;
}

.all-rights-reserved {
  flex: 1;
}
