.review-mentor-container {
  padding: 40px 80px;
}

.mentee-review-content {
  margin-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #274a79;
  font-size: 1.5rem;
}

.mentee-review-infor-container {
  display: flex;
}

.mentee-review-img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.mentee-review-infor {
  padding: 0 20px;
}

.review-mentor-item {
  margin-top: 50px;
}

.review-title {
  font-weight: 700;
}

.star-rating {
  margin-left: 10px;
}
