.signup-success-container {
  height: 100vh;
}

.signup-success-background {
  width: 50%;
  height: 400px;
  background-color: #fff;
  border-radius: 20px;
  margin: 20px auto;
  padding: 30px;
  color: #274a79;
  border: 5px solid #6adbd7;

  h2 {
    text-align: center;
    color: #27975c;
  }
  p {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

.btnsignin {
  background-color: #6adbd7;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 10px;
  color: #274a79;
  font-weight: 600;
  margin: 0 5px;
}

.btnsignin {
  margin-top: 10px;
}
